@addTagHelper *, Kendo.Mvc
@using WiderBoard.Models
@model List<Merchant>
@{
    ViewData["Title"] = "KYC Level 1";
}
<style>

    .center_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 30px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    #customers {
        border-collapse: collapse;
        width: 100%;
    }


    td:nth-child(6) {
        text-align: center;
    }

    #customers th {
        background-color: #f2f2f2;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            color:white;
            background-color: #9870d5;/*linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);*/
        }


    .container {
        padding: 2px 16px;
    }
</style>
<!-- Begin Page Content -->
<div class="container-fluid">
    <h1 class="h3 mb-1 text-gray-800">Know Your Customer( KYC ) Level 1</h1>
    <p class="mb-4">
        Bootstrap's default utility classes can be found on the official <a href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities
        below were created to extend this theme past the default utility classes built into Bootstrap's
        framework.
    </p>

    <br />
    <!-- Page Heading -->
    <div class="card">
        <h6 class="text-gray-800">Fetch Agent Between Date Range or Search by AgentID:</h6>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label class="small text-gray-600" for="leadCapLastName">Choose Date From: </label>
                <input class="form-control" required id="f_oaddress" name="f_oaddress" type="date" />
            </div>
            <div class="form-group col-md-5">
                <label class="small text-gray-600" for="leadCapLastName">Choose Date To:</label>
                <input class="form-control" required id="f_oaddress" name="f_oaddress" type="date" />
            </div>
            <div class="form-group col-md-2">
                <label class="small text-gray-600" for="leadCapLastName"> &nbsp;</label>
                <button style="padding-block:10px" class="btn-block btn-primary"> Search</button>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <br />
        <div style="overflow-x:auto;">
            <table id="customers">
                <tr>
                    <th>Form Registration No.</th>
                    <th>Other Name</th>
                    <th>Surname Name</th>
                    <th>Payment Date</th>
                    <th>Phone Number</th>
                    <th>KYC Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>1234567Y3232</td>
                    <td>Anders</td>
                    <td>Germany</td>

                    <td>France</td>
                    <td>08021488439</td>
                    <td><button class="btn btn-danger"><i class="fa fa-dragon"></i></button></td>
                    <td><button data-toggle="modal" data-target="#exampleModal" class="btn btn_kyc"><i class="fa fa-folder"></i> View / Edit Details</button></td>
                </tr>
                <tr>
                    <td>74847602938233</td>
                    <td>Maria</td>
                    <td>Abuja</td>
                    <td>France</td>
                    <td>070123837431</td>
                    <td><button class="btn btn-success"><i class="fa fa-check"></i></button></td>
                    <td><button data-toggle="modal" data-target="#exampleModal" class="btn btn_kyc"><i class="fa fa-folder"></i> View / Edit Details</button></td>
                </tr>
                <tr>
                    <td>6472829320834934</td>
                    <td>Matins</td>
                    <td>Germany</td>

                    <td>France</td>
                    <td>08123758834</td>
                    <td><button class="btn btn-success"><i class="fa fa-check"></i></button></td>
                    <td><button data-toggle="modal" data-target="#exampleModal" class="btn btn_kyc"><i class="fa fa-folder"></i> View / Edit Details</button></td>
                </tr>
                <tr>
                    <td>6483782120823232</td>
                    <td>Stypou</td>
                    <td>Germany</td>

                    <td>France</td>
                    <td>07022184723</td>
                    <td><button class="btn btn-danger"><i class="fa fa-dragon"></i></button></td>
                    <td><button data-toggle="modal" data-target="#exampleModal" class="btn btn_kyc"><i class="fa fa-folder"></i> View / Edit Details</button></td>
                </tr>
                <tr>
                    <td>628372398308</td>
                    <td>Tyltey</td>
                    <td>Germany</td>

                    <td>France</td>
                    <td>08133383904</td>
                    <td><button style="        background-color:rgb(254 180 34 / 87%);border: none" class="btn btn-info"><i class="fa fa-dragon"></i></button></td>
                    <td><button data-toggle="modal" data-target="#exampleModal" class="btn btn_kyc"><i class="fa fa-folder"></i> View / Edit Details</button></td>
                </tr>

            </table>
        </div>

        <!-- Button to Open the Modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Open modal
    </button> -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width:800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-center text-gray-800">Edit Details</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 ">

                                <div class="form-group form-focus">
                                    <label class="focus-label">Home Phone </label>
                                    <input type="tel" class="form-control floating" name="HomePhone">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Work Phone </label>
                                    <input type="tel" class="form-control floating" name="WorkPhone">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Mobile Phone </label>
                                    <input type="tel" class="form-control floating" name="MobilePhone">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">MediCare No </label>
                                    <input type="text" class="form-control floating" name="MediCareNo">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">MediCare LineNo </label>
                                    <input type="text" class="form-control floating" name="MediCareLineNo">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Email </label>
                                    <input type="email" class="form-control floating" name="Email">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Username</label>
                                    <input type="text" class="form-control floating" name="uname">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Password</label>
                                    <input type="password" class="form-control floating" name="pass">

                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 ">

                                <div class="form-group form-focus">
                                    <label class="focus-label">Home Phone </label>
                                    <input type="tel" class="form-control floating" name="HomePhone">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Work Phone </label>
                                    <input type="tel" class="form-control floating" name="WorkPhone">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Mobile Phone </label>
                                    <input type="tel" class="form-control floating" name="MobilePhone">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">MediCare No </label>
                                    <input type="text" class="form-control floating" name="MediCareNo">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">MediCare LineNo </label>
                                    <input type="text" class="form-control floating" name="MediCareLineNo">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Email </label>
                                    <input type="email" class="form-control floating" name="Email">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Username</label>
                                    <input type="text" class="form-control floating" name="uname">

                                </div>
                                <div class="form-group form-focus">
                                    <label class="focus-label">Password</label>
                                    <input type="password" class="form-control floating" name="pass">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i>Reject Form</button>
                        <button type="submit" class="btn btn-success"
                                id="btnAccept"><i class="fa fa-cloud"></i>
                            Verify for KYC
                        </button>
                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




</div>

