@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Register Agent";

}
<style>

    #center_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 30px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    .container {
        padding: 2px 16px;
    }
</style>
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Register Agent </h1>
    <p class="mb-4">
        Bootstrap's default utility classes can be found on the official <a href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities
        below were created to extend this theme past the default utility classes built into Bootstrap's
        framework.
    </p>
    <div class="card">
        <div class="row">
            <div class="col-md-12 col-lg-6 ">

                <div class="form-group form-focus">
                    <label class="focus-label">Home Phone </label>
                    <input type="tel" class="form-control floating" name="HomePhone">

                </div>
                <div class="form-group form-focus">
                    <label class="focus-label">Work Phone </label>
                    <input type="tel" class="form-control floating" name="WorkPhone">

                </div>
                <div class="form-group form-focus">
                    <label class="focus-label">Mobile Phone </label>
                    <input type="tel" class="form-control floating" name="MobilePhone">

                </div>
                <div class="form-group form-focus">
                    <label class="focus-label">MediCare No </label>
                    <input type="text" class="form-control floating" name="MediCareNo">

                </div>
                <div class="form-group form-focus">
                    <label class="focus-label">MediCare LineNo </label>
                    <input type="text" class="form-control floating" name="MediCareLineNo">

                </div>

            </div>
            <div class="col-md-12 col-lg-6 ">

                <div class="form-group form-focus">
                    <label class="focus-label">Home Phone </label>
                    <input type="tel" class="form-control floating" name="HomePhone">

                </div>
                <div class="form-group form-focus">
                    <label class="focus-label">Work Phone </label>
                    <input type="tel" class="form-control floating" name="WorkPhone">

                </div>
                <div class="form-group form-focus">
                    <label class="focus-label">Mobile Phone </label>
                    <input type="tel" class="form-control floating" name="MobilePhone">

                </div>
                <div class="form-group form-focus">
                    <label class="focus-label">MediCare No </label>
                    <input type="text" class="form-control floating" name="MediCareNo">

                </div>

                <div class="form-group form-focus">
                    <label class="focus-label">Password</label>
                    <input type="password" class="form-control floating" name="pass">

                </div>
            </div>
        </div>

    </div>
   
        <div  class="form-group col-md-2">
            <label class="small text-gray-600" for="leadCapLastName"> &nbsp;</label>
            <button id="center_div" style="padding-block:10px" class="btn-block btn-primary"> Register</button>
        </div>
   
   
</div>

 